<script type="text/javascript">   
    function Tab(model, label, button_label_add, button_label_search) {           
        construct();
        
        function construct() {
            show_buttons();
            add_button_listener();
            search_button_listener();
            load_list();
        }
    
        function show_buttons() {
            $("#context_form_"+model).html(
                '<button class="add'+model+'">'+button_label_add+'</button>' + 
                '<button class="search'+model+'">'+button_label_search+'</button>'
            );
        }
        
        function load_list() {
            var list = $("#"+model+"_list");
            var id = $('#form_{{parent_model}}').find('[name=id]').val();
            list.load("{{base_url}}list/"+model+"?{{parent_model}}="+id, function() {
                // add information from the parent model
                list.find("a.through").each(function() {
                    this.href = this.href + "&{{parent_model}}={{parent_id}}";
                });
            });
        }

        function add_cancel_button(selector) {
            selector.append('<button name="cancel" class="cancel" onclick="return false">{{cancel}}</button>');
            $("[name=cancel]").click(function() {
                construct();
            });
        }
        
        function search_button_listener() {
            $(".search"+model).click(function() {
                var div = $("#context_form_"+model);
                
                div.load("{{base_url}}detail/"+model+"?search", function() {
                    var form = $("#form_"+model);
                    // configure form
                    form.ajaxForm({
                        target: div,
                        success: success_action
                    });  
                    // add a cancel button
                    add_cancel_button(form);
                });
                
                function success_action() {
                    var div = $("#context_form_"+model);
                    add_cancel_button(div);
                    // add link listener for inline form
                    add_context_link_listener();
                }
                
                function add_context_link_listener() {
                    var target = $("#context_form_"+model);
                    $("#context_form_"+model+" a").click(function(event) {
                        event.preventDefault();
                        load_form_inline(target, this.href);
                    });
                }

                function load_form_inline(target, url) {
                    target.load(url, function() {
                        // add a cancel button
                        add_cancel_button(target);
                    });
                }
            });
        }

        function add_button_listener() {
            $(".add"+model).click(function() {
                var div = $("#context_form_"+model);
                var parent_id = $('#form_{{parent_model}}').find('[name=id]').val();

                div.load("{{base_url}}detail/"+model+"?save", function() {
                    var form = $("#form_"+model);
                    var model_id = form.find("[name={{parent_model}}_id]");
                    // configure form
                    form.ajaxForm({
                        target: div,
                        success: success_action
                    });
                    // check whether input for {{parent_model}}_id is available, if not add it
                    if(model_id.html() === null) {
                        form.append('<input type="hidden" name="{{parent_model}}_id" />');
                        model_id = form.find("[name={{parent_model}}_id]");
                    }
                    // set the {{parent_model}}_id
                    model_id.attr('value', parent_id);
                    // add reset button
//                    add_reset_button(form, "{{reset}}");
                    // add a cancel button
                    add_cancel_button(form);
                });

                function success_action() {
                    setTimeout(function() { construct(model, label) }, 2000);
                }
            });
        }
    };
    
    $(function() {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
	<ul>
            <li><a href="#overview">{{overview_label}}</a></li>
            {{#tabs}}
                <li><a href="#{{model}}">{{label}}</a></li>
            {{/tabs}}
	</ul>
	<div id="overview">
            <p><b>Overview of this {{parent_model}}</b></p>
	</div>
	
        {{#tabs}}
            <script type="text/javascript">
                $(document).ready(function() {
                    Tab("{{model}}", "{{label}}", 
                        "{{button_label_add}}", "{{button_label_search}}")
                });
            </script>
        
            <div id="{{model}}">
                <div id="context_form_{{model}}"></div>
                <br />
                <hr />
                <p>
                    <div id="{{model}}_list"></div>
                </p>
            </div>
        {{/tabs}}
        
</div>