<script type="text/javascript">   
    function go_to(model, id) {
        document.location.href = '{{base_url}}detail/'+model+'/'+id;
    }
    
    function Tab(model, label, button_label_add, button_label_search, target) {           
        construct();
        
        function construct() {
            show_buttons();
            add_button_listener();
            search_button_listener();
            load_list();
        }
    
        function show_buttons() {
            target.html(
                '<button class="add'+model+'">'+button_label_add+'</button>' + 
                '<button class="search'+model+'">'+button_label_search+'</button>'
            );
        }
        
        function load_list() {
            var list = $("#"+model+"_list");
            var id = $('#form_{{parent_model}}').find('[name=id]').val();
            list.load("{{base_url}}list/"+model+"?{{parent_model}}="+id, function() {
                // add information from the parent model
                list.find("a.through").each(function() {
                    this.href = this.href + "&{{parent_model}}={{parent_id}}";
                });
            });
        }

        function add_cancel_button(selector) {
            selector.append('<button name="cancel" class="cancel" onclick="return false">{{cancel}}</button>');
            $("[name=cancel]").click(function() {
                construct();
            });
        }
        
        function search_button_listener() {
            $(".search"+model).click(function() {
                
                target.load("{{base_url}}detail/"+model+"?search", function() {
                    var form = $("#form_"+model);
                    // configure form
                    form.ajaxForm({
                        target: target,
                        success: success_action
                    });  
                    // add a cancel button
                    add_cancel_button(form);
                });
                
                function success_action(response) {     
                    print_json_response(response);
                    add_cancel_button(target);
                    // add link listener for inline form
                    add_context_link_listener();
                }
                
                function add_context_link_listener() {
                   target.click(function(event) {
                        event.preventDefault();
                        load_form_inline(target, this.href);
                    });
                }

                function load_form_inline(target, url) {
                    target.load(url, function() {
                        // add a cancel button
                        add_cancel_button(target);
                    });
                }
            });
        }

        function add_button_listener() {
            $(".add"+model).click(function() {

                target.load("{{base_url}}detail/"+model+"?save&{{parent_model}}={{parent_id}}", function() {
                    var form = $("#form_"+model);
                    // configure form
                    form.ajaxForm({
                        target: target,
                        success: success_action
                    });
                    // add a cancel button
                    add_cancel_button(form);
                });

                function success_action(response) {
                    target.html(response);
                    if(response.search('<form') == -1)
                        setTimeout(function() { construct(model, label) }, 2000);
                }
            });
        }
        
        function print_json_response(response) {
            table = '<table>'
            //heading
            table += '<tr>';
            $.each(response.heading, function(key, value) {
                table += '<th>' + value + '</th>';            
            });
            table += '</tr>';
            // data
            $.each(response.data, function(key, value) {
               table += '<tr onclick=\'go_to("'+model+'", '+value.id+')\'>';

                $.each(value, function(key, value) {
                    table += '<td>' + value + '</td>';
                });
                 table += '</tr>';           
            });               
            table += '</table>';

            target.html(table);         
        }
    };
    
    $(function() {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
	<ul>
            <li><a href="#overview">{{overview_label}}</a></li>
            {{#tabs}}
                <li><a href="#{{model}}">{{label}}</a></li>
            {{/tabs}}
	</ul>
	<div id="overview">
            <p><b>Overview of this {{parent_model}}</b></p>
	</div>
	
        {{#tabs}}
            <script type="text/javascript">
                $(document).ready(function() {
                    Tab("{{model}}", "{{label}}", "{{button_label_add}}", 
                    "{{button_label_search}}", $("#context_{{model}}"));
                });
            </script>
        
            <div id="{{model}}">
                <div id="context_{{model}}"></div>
                <br />
                <hr />
                <p>
                    <div id="{{model}}_list"></div>
                </p>
            </div>
        {{/tabs}}
        
</div>