<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
	<ul>
            <li><a href="#overview">{{overview_label}}</a></li>
            {{#tabs}}
                <li><a href="#{{id}}">{{label}}</a></li>
            {{/tabs}}
	</ul>
	<div id="overview">
            <p><b>Overview of this object</b></p>
	</div>
	
        {{#tabs}}
            <script type="text/javascript">
                function load_{{id}}() {
                    var list = $("#{{id}}_list");
                    var obid = $('#form_object').find('[name=id]').val();
                    list.load('{{base_url}}list/{{id}}?object='+obid);
                }
                function add{{id}}_button_listener() {
                    $(".add{{id}}").click(function() {
                        var div = $("#context_form_{{id}}");
                        var obid = $('#form_object').find('[name=id]').val();

                        div.load('{{base_url}}detail/{{id}}', function() {
                            var form = $('#form_{{id}}');
                            var object_id = form.find("[name=object_id]");
                            // configure form
                            form.ajaxForm({
                                target: div,
                                success: success_{{id}},
                            });
                            // check whether input for object_id is available, if not add it
                            if(object_id.html() === null) {
                                form.append('<input type="hidden" name="object_id" />');
                                object_id = form.find("[name=object_id]");
                            }
                            // set the object_id
                            object_id.attr('value', obid);
                            // add a cancel button
                            form.append('<button name="cancel" class="cancel" onclick="return false">{{cancel}}</button>');
                            // register event listener for the cancel button
                            $("[name=cancel]").click(function() {
                                {{id}}_trigger();
                            });
                            // add reset event listener
                            reset_button_listener();      
                        });
                        
                        function success_{{id}}() {
                            setTimeout('{{id}}_trigger()', 2000);
                        }
                    });
                }
                function {{id}}_trigger() {
                    $("#context_form_{{id}}").html('<button class="add{{id}}">Add {{label}}</button>'); 
                    add{{id}}_button_listener();
                    load_{{id}}();
                }
                $(document).ready(function() {     
                    add{{id}}_button_listener();
                    load_{{id}}();
                });
            </script>
        
            <div id="{{id}}">
                <div id="context_form_{{id}}">
                    <button class="add{{id}}">{{button_label}}</button>
                </div>
                <hr />
                <p>
                    {{text}}<br />
                    <div id="{{id}}_list"></div>
                </p>
            </div>
        {{/tabs}}
        
</div>