<script>   
    function Tab(model, label, button_label_add, button_label_search) {        
        add_button_listener();
        load_list(model);    
    
        function show_buttons() {
            $("#context_form_"+model).html(
                '<button class="add'+model+'">'+button_label_add+'</button>' + 
                '<button class="search'+model+'">'+button_label_search+'</button>'
            );
        }
        
        function load_list() {
            var list = $("#"+model+"_list");
            var obid = $('#form_object').find('[name=id]').val();
            list.load("{{base_url}}list/"+model+"?object="+obid);
        }
        
        function reload() {
            show_buttons();
            add_button_listener();
            load_list();
        }

        function add_cancel_button(form) {
            form.append('<button name="cancel" class="cancel" onclick="return false">{{cancel}}</button>');
            $("[name=cancel]").click(function() {
                reload();
            });
        }

        function add_button_listener() {
            $(".add"+model).click(function() {
                var div = $("#context_form_"+model);
                var obid = $('#form_object').find('[name=id]').val();

                div.load("{{base_url}}detail/"+model+"?save", function() {
                    var form = $("#form_"+model);
                    var object_id = form.find("[name=object_id]");
                    // configure form
                    form.ajaxForm({
                        target: div,
                        success: success_action
                    });
                    // check whether input for object_id is available, if not add it
                    if(object_id.html() === null) {
                        form.append('<input type="hidden" name="object_id" />');
                        object_id = form.find("[name=object_id]");
                    }
                    // set the object_id
                    object_id.attr('value', obid);
                    // add reset button
//                    add_reset_button(form, "{{reset}}");
                    // add a cancel button
                    add_cancel_button(form);
                });

                function success_action() {
                    setTimeout(function() { reload(model, label) }, 2000);
                }
            });
        }
    };
    
    $(function() {
        $("#tabs").tabs();
    });
</script>

<div id="tabs">
	<ul>
            <li><a href="#overview">{{overview_label}}</a></li>
            {{#tabs}}
                <li><a href="#{{model}}">{{label}}</a></li>
            {{/tabs}}
	</ul>
	<div id="overview">
            <p><b>Overview of this object</b></p>
	</div>
	
        {{#tabs}}
            <script type="text/javascript">
                $(document).ready(function() {
                    Tab("{{model}}", "{{label}}", 
                        "{{button_label_add}}", "{{button_label_search}}")
                });
            </script>
        
            <div id="{{model}}">
                <div id="context_form_{{model}}">
                    <button class="add{{model}}">{{button_label_add}}</button>
                    <button class="search{{model}}">{{button_label_search}}</button>
                </div>
                <br />
                <hr />
                <p>
                    {{text}}<br />
                    <div id="{{model}}_list"></div>
                </p>
            </div>
        {{/tabs}}
        
</div>