{{#form}}
    {{&open}}
    
    {{#elements}}
        {{&label}}
        <br />
        {{&input}}
        {{&error}}
        <br />
    {{/elements}}

    {{#close}}
        {{&element}}
    {{/close}}
{{/form}}