<div id="table"></div>
<script type="text/javascript">
    function go_to(model, id) {
        document.location.href = '{{base_url}}detail/'+model+'/'+id;
    }
    
    function set_relation(model, id, field_name, target) {
        $('[name='+field_name+']').attr('value', id);
        RelatedObject(model, id, target, field_name);
    }
    
    function RelatedObject(model, id, target, input_field_name) {
        construct();
        
        function construct() {
            if(id != '') {
                get_belongs_to_data(); 
            } else {
                add_assign_button();
            }
        }
        
        function append_separator() {
            $(target).append('<hr />');
        }
        
        function add_assign_button() {
            $(target).html(
                '<button name="assign_'+model+'" class="assign" onclick="return false">{{assign}}</button>'+
                '<button name="create_'+model+'" class="create" onclick="return false">{{create}}</button>'
            );
            append_separator();
            $('[name=assign_'+model+']').click(function() {
                search_form();
            });
            $('[name=create_'+model+']').click(function() {
                create_form();
            });
        }
        
        function search_form() {
            $(target).load('{{base_url}}detail/'+model+'?search', function() {
                var form = $("#form_"+model);
                // configure form
                form.ajaxForm({
                    target: target,
                    success: print_result
                });
                // add a cancel button to the form
                add_cancel_button(form);
                append_separator();
            });
            
            function print_result(response) {
                print_json_response(response, "set_relation");
            }
        }
        
        function create_form() {
            $(target).load('{{base_url}}detail/'+model+'?save', function() {
                var form = $("#form_"+model);
                // configure form
                form.ajaxForm({
                    target: target,
                    success: print_result
                });
                // add a cancel button to the form
                add_cancel_button(form);
                append_separator();
            }); 
        }
        
        function get_belongs_to_data() {
            $.getJSON('{{base_url}}json/'+model+'/'+id+'?withHeading', function(response) {
                print_json_response(response, 'go_to', true)
                // add change button listener
                change_button_listener();              
                append_separator();
            });

            function change_button_listener() {
                $("#change_"+model).click(function() {
                    search_form();
                });
            }
        }
        
        function add_cancel_button(selector) {
            selector.append('<button name="cancel" class="cancel" onclick="return false">{{cancel}}</button>');
            $("[name=cancel]").click(function() {
                construct();
            });
        }
        
        function print_json_response(response, function_name, withChageButton) {
            table = '<table>'
            // change button
            if(withChageButton) table += '<button id="change_'+model+'" onclick="return false">Change</button><br />';
            //heading
            table += '<tr>';
            $.each(response.heading, function(key, value) {
                table += '<th>' + value + '</th>';            
            });
            table += '</tr>';
            // data
            $.each(response.data, function(key, value) {
                if(function_name) {
                    table += '<tr onclick=\''+function_name+'("'+model+'", '+value.id+', "'+input_field_name+'", "'+target+'")\'>';
                } else {
                    $table += '<tr>';
                }
                $.each(value, function(key, value) {
                    table += '<td>' + value + '</td>';
                });
                 table += '</tr>';           
            });               
            table += '</table>';

            $(target).html(table);         
        }
        
    }
    
$(document).ready(function() {
    $.each($("#form_{{model}} input:hidden"), function(key, input) { 
        var model = input.id;
        var id = input.value;
        RelatedObject(model, id, '#field_'+input.name, input.name);
    });    
});
</script>

{{#form}}
    {{&open}}
    
    {{#elements}}
        {{&label}}
        <br />
        {{&input}}
        {{&error}}
        {{&div}}
    {{/elements}}

    {{#close}}
        {{&element}}
    {{/close}}
{{/form}}