<div id="table"></div>
<script type="text/javascript">
    function goTo(model, id) {
        document.location.href = '{{base_url}}detail/'+model+'/'+id;
    }
    
    function RelatedObject(model, id, target) {
        construct();
        
        function construct() {
            if(id != '') {
                get_belongs_to_data(); 
            } else {
                add_assign_button();
            }
        }
        
        function append_separator() {
            $(target).append('<hr />');
        }
        
        function add_assign_button() {
            $(target).html(
                '<button name="assign" class="assign" onclick="return false">{{assign}}</button>'+
                '<button name="create" class="create" onclick="return false">{{create}}</button>'
            );
            append_separator();
            $("[name=assign]").click(function() {
                construct();
            });
        }
        
        function get_belongs_to_data() {
            $.getJSON('{{base_url}}json/'+model+'/'+id+'?withHeading', function(data) {
                table = '<table>'
                // change button
                table += '<button id="change_'+model+'" onclick="return false">Change</button><br />';
                //heading
                table += '<tr>';
                $.each(data.heading, function(key, value) {
                    table += '<th>' + value + '</th>';            
                });
                table += '</tr>';
                // data
                $.each(data.data, function(key, value) {
                    table += '<tr onclick=\'goTo("'+model+'", '+value.id+')\'>';
                    $.each(value, function(key, value) {
                        table += '<td>' + value + '</td>';
                    });
                     table += '</tr>';           
                });               
                table += '</table>';
                
                $(target).html(table);
                // add change button listener
                change_button_listener();              
                append_separator();
            });

            function change_button_listener() {
                $("#change_"+model).click(function() {
                    $(target).load('{{base_url}}detail/'+model+'?search', function() {
                        var form = $("#form_"+model);
                        // configure form
                        form.ajaxForm({
                            target: target
                        });
                        // add a cancel button to the form
                        add_cancel_button(form);
                        append_separator();
                    });
                });
            }
        }
        
        function add_cancel_button(selector) {
            selector.append('<button name="cancel" class="cancel" onclick="return false">{{cancel}}</button>');
            $("[name=cancel]").click(function() {
                construct();
            });
        }
        
    }
    
$(document).ready(function() {
    $.each($("#form_{{model}} input:hidden"), function(key, input) { 
        var model = input.id;
        var id = input.value;
        RelatedObject(model, id, '#field_'+input.name);
    });    
});
</script>

{{#form}}
    {{&open}}
    
    {{#elements}}
        {{&label}}
        <br />
        {{&input}}
        {{&error}}
        {{&div}}
    {{/elements}}

    {{#close}}
        {{&element}}
    {{/close}}
{{/form}}