            <div id="header_title" class="span-5 colborder">
                <h1>myColex</h1>
                {{&username}}
            </div>
            
            <div id="header_module" class="span-7">
                <div class="alt large">{{&path}}</div>
            </div>
            
            <div id="header_menu" class="span-11 right last large">
                {{#header_links}}
                    <li><a class="button" href="{{base_url}}{{uri}}" >{{label}}</a></li>
                {{/header_links}}
            </div>