<html>
    <head>
    {{#styles}}
        {{&style}}
    {{/styles}}

    {{#scripts}}
        {{&script}}
    {{/scripts}}

    <title>{{title}}</title>
    </head>
    <body>
    <div class="container">
	
        <div id="header" class="span-24 last">
            {{&header}}
        </div> <!-- header -->
	
        <div id="content" class="span-24 last">
            <hr />
	
            <div id="content_module_header">
                <h3 class="alt">{{title}}</h3>
            </div>
	
            <div class="span-15">
                {{&content}}
            </div>            

            <div id="context" class="span-9 last">
                {{&context}}
            </div> <!-- context -->

        </div> <!-- content -->	
           
        {{&footer}}
        </div> <!-- container -->
    </body>
</html>