<h3>{{title}}</h3>
{{#form}}
    {{&form_open}}
        <label for="username">{{username_label}}</label>{{&username_input}}<br />
        <label for="username">{{password_label}}</label>{{&password_input}}<br />
        {{&login}}
    {{&form_close}}
{{/form}}