<script type="text/javascript">
    $(document).ready(function() {        
        $(".remove_{{model}}").click(function(event) {
            event.preventDefault();
            $.post(this.href, { 'delete': 'true' });
        });
    });
</script>

{{#elements}}
    <li>
        <a href="{{uri}}/{{id}}">{{&element}}</a>
        &nbsp;
        <a class="remove_{{model}}" href="{{uri}}/{{id}}">{{delete}}</a>
        {{#through}}<a class="through" href="{{base_url}}detail/{{through}}?{{model}}={{id}}">{{assign}}</a>{{/through}}
    </li>
{{/elements}}