<script type="text/javascript">
    function add_cancel_button(selector) {
        selector.append('<button name="cancel" class="cancel" onclick="return false">{{cancel}}</button>');
        $("[name=cancel]").click(function() {
            alert("cancel")
        });
    }
    
    function load_form(target, url) {
        target.load(url, function() {
            // add a cancel button
            add_cancel_button(target);
        });
    }
    
    $(document).ready(function() {
        var target = $("#context_form_{{model}}");
        $("#context_form_{{model}} a").click(function(event) {
            event.preventDefault();
            load_form(target, this.href);
        });
        
        $(".remove_{{model}}").click(function(event) {
            event.preventDefault();
            $.post(this.href, { 'delete': 'true' },
                function(message) {
                    alert(message);
                }
            );
        });
    });
</script>

<div id="list_elements">
{{#elements}}
    <li>
        <a href="{{uri}}/{{id}}">{{&element}}</a>
        &nbsp;
        <a class="remove_{{model}}" href="{{uri}}/{{id}}">{{delete}}</a>
    </li>
{{/elements}}
</div>