<script type="text/javascript">
    $(document).ready(function() {        
        $(".remove_{{model}}").click(function(event) {
            event.preventDefault();
            $.post(this.href, { 'delete': 'true' },
                function(message) {
                    alert(message);
                }
            );
        });
    });
</script>

{{#elements}}
    <li>
        <a href="{{uri}}/{{id}}">{{&element}}</a>
        &nbsp;
        <a class="remove_{{model}}" href="{{uri}}/{{id}}">{{delete}}</a>
    </li>
{{/elements}}