        <p>{{title}}</p>
        {{>pagination}}
        <script type="text/javascript">
            $(document).ready(function() {
                $(".addMeasurement").click(function() {
                    var sidebar = $("#context");
                    var obid = $(this).nextAll('[name=object_id]').val();

                    sidebar.load('{{base_url}}detail/measure', function() {
                        var form = $('#form_measure');
                        reset_button_listener(form);
                        form.ajaxForm({
                            target: sidebar, 
                            success: reloadPage
                        });
                        form.find("[name=object_id]").attr('value', obid);
                    });
                });
            });
        </script>
        {{#objects}}
        <li>
            {{&form_open}}
                <label>
                    <strong><a href="{{uri}}">{{id}}:</strong> ({{obinv}} : {{obobject}})</a>
                </label>    
                {{&delete}} 
            {{&form_close}}                
            <div class="measurements">
                <button class="addMeasurement">Add Measurement</button>
                <input type="hidden" name="object_id" value="{{id}}" />
                <br /><br /><br />
                {{#measures}}
                    {{&form_open}}
                        <label>
                            <b>Measurement: {{id}}</b>
                            (dim: {{medim}}, value: {{mevalue}})
                        </label>    
                        {{&delete}}          
                    {{&form_close}}
                {{/measures}}
                {{#persons}}        
                    Name: {{pename}} Place: {{peplace}} <br />
                {{/persons}}
                <hr />
            </div>
        </li>
        {{/objects}}
