{{#form}}
    {{&opening}}
    
    {{#elements}}
        {{&label}}
        <br />
        {{&input}}
        {{&error}}
        <br />
    {{/elements}}

    {{#closing}}
        {{&element}}
    {{/closing}}
{{/form}}