{{>header}}

 <!--        {{&form}} -->

        <p>{{title}}</p>
        {{>pagination}}
        <ul>
            {{#objects}}
            <li>
            	<strong>{{id}}:</strong> ({{obinv}} : {{obobject}}) <br />
                        
           	{{#measure}}
                        Value: {{value}}<br />
<!-- 
	            	Measurement: {{id}}
	            	dim: {{medim}}
	            	value: {{mevalue}} <br />
-->
            	{{/measure}}

            </li>
            {{/objects}}
        </ul>
{{>footer}}