        <p>{{title}}</p>
        {{>pagination}}

            {{#objects}}
            <li>
            	<strong><a href="{{uri}}">{{id}}:</strong> ({{obinv}} : {{obobject}})</a> <br />
                <div class="measurements">
                <button class="addMeasurement">Add Measurement</button><br />
                <input type="hidden" name="object_id" value="{{id}}" />   
                <div class="form"></div>
           	{{#measure}}
                    Value: {{value}}<br />
            	{{/measure}}
                </div>
            </li>
            {{/objects}}
