        <p>{{title}}</p>
        {{>pagination}}
        <ul>
            {{#objects}}
            <li>
            	<strong><a href="{{uri}}">{{id}}:</strong> ({{obinv}} : {{obobject}})</a> <br />
                <div class="measurements">

                <button class="addMeasurement">Add Measurement</button>
                <input type="hidden" name="object_id" value="{{id}}" />   
                <div class="form"></div>
           	{{#measure}}
                        Value: {{value}}<br />
<!-- 
	            	Measurement: {{id}}
	            	dim: {{medim}}
	            	value: {{mevalue}} <br />
-->
            	{{/measure}}
                </div>
            </li>
            {{/objects}}
        </ul>