            <div id="header_title" class="span-5 colborder">
                <h1>myColex</h1>
            </div>
            
            <div id="header_module" class="span-7">
                <div class="alt large">{{&path}}</div>
            </div>
            
            <div id="header_menu" class="span-11 right last large">
                <li><a class="button" target="_parent"   href="./kalender.php" >Kalender</a></li>
		<li><a class="button" target="_blank" href= "../lang/de/help.htm">Hilfe</a></li>
		<li><a class="button" href=../../hmbwiki/doku.php target="_blank">Wiki HMB</a></li>
		<li><a class="button" target="_parent"   href="../common/logout.php" >Abmelden</a></li>
            </div>