<html>
    <head>
    <!-- Blueprint Stylesheets -->
    <link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">
    <!--[if IE]>
	<link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <!-- Fancy Type Plugin -->
    <link rel="stylesheet" href="/media/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
    <!-- Button plugin -->
    <link rel="stylesheet" href="/media/css/blueprint/plugins/buttons/screen.css" type="text/css" media="screen, projection">
    <!-- custom style -->
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen, projection">
    <!-- jquery-ui smoothness style -->
    <link rel="stylesheet" href="/media/css/jquery-ui.css" type="text/css" media="screen, projection">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/malsup/form/master/jquery.form.js"></script> 
    <script type="text/javascript" src="/media/js/mycolex2.js"></script> 
    <title>{{title}}</title>
    </head>
    <body>
    <div class="container">
	
        <div id="header" class="span-24 last">
            {{&header}}
        </div> <!-- header -->
	
        <div id="content" class="span-24 last">
            <hr />
	
            <div id="content_module_header">
                <h3 class="alt">Sammlungsdokumentation</h3>
            </div>
	
            <div class="span-15">
                {{&content}}
            </div>            

            <div id="sidebar" class="span-6 last">
                {{&sidebar}}Sidebar goes here
            </div> <!-- siebar -->

        </div> <!-- content -->	
           
        {{&footer}}
        </div> <!-- container -->
    </body>
</html>